/*Navegador*/

div.navegador a{
    color: #140C00;
    transition: all .5s;
}

@media only screen and (max-width: 550px) {
    div.navegador a{
        font-size: 3.2vw;
    }
}

div.navegador a:hover{
    color: #F5F5F5;
}

img.Logo{
    max-width: 275px;
}
