@font-face {
    font-family: Heart_Attack;
    src: url('assets/fonts/Heart_Attack.ttf');
}

h1{
    font-family: Heart_Attack;
    font-size: 5.3vw;
}

@media only screen and (max-width: 550px) {
    h1{
        font-size: 7vw;
    }
}

.Inicio{
    background-color: #FF9F1C;
}

.Cuerpo{
    background-color: #F5F5F5;
}

hr{
    color: darkgray;
}